.form__card {
    display: flex;
    justify-content: center;
    width:18rem;
    background-color: gray;
    padding: .6rem;
    border-radius: 4px;
}
.form__card i {
    color: white;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

